/* Temporary CSS */

.Login,
.Register,
.Release,
.AddRelease {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.Login input,
.Register input,
.AddRelease input,
.Release input,
button,
textarea{
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    width: 100%;
}

button {
    border: none;
    background: black;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}


main {
    text-align: center;
}

main .verticalWrapper {
    display: flex;
}

/* End of temporary CSS */

header div {
    display: flex;
    justify-content: space-between;
}

.underline {
    width: 100%;
    border: 1px solid black;
}

/* .AddRelease main {
    display: flex;
} */

label {
    background: black;
    color: white;
    cursor: pointer;
}

.AddReleaseFiles {
    width: 50%;
}

.AddReleaseInfo {
    width: 50%;
}

.AddReleaseInfo input {
    width: 100%;
}

.ArtworkUploader {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.ArtworkUploader img {
    width: 100%;
}


.ArtworkUploader button {
    position: absolute;
}

#artwordProcessBar {
    height: 20px;
    border: green 1px solid;
}

.fileProcessed {
    height: 100%;
    background-color: green;
}

/* needs to hide the input-field */
.hideInputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}