/* Temporary CSS */
.Login,
.Register,
.AddRelease {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    padding: 10px;
}

.Login input,
.Register input,
.AddRelease input,
button{
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    border: none;
    background: black;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}

input {
    letter-spacing: 1px;
}

.Home {
    display: flex;
    justify-content: center;
}

.Home button {
    margin: 5px;
}

/* End of temporary CSS */