/* Temporary CSS */
.Login,
.Register,
.Release,
.AddRelease {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.Login input,
.Register input,
.AddRelease input,
.Release input,
button{
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    border: none;
    background: black;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}


main {
    text-align: center;
}

/* End of temporary CSS */

header div {
    display: flex;
    justify-content: space-between;
}

.underline {
    width: 100%;
    border: 1px solid black;
}

/* .AddRelease main {
    display: flex;
} */

.AddReleaseFiles {
    width: 50%;
}

.AddReleaseInfo {
    width: 50%;
}

.AddReleaseInfo input {
    width: 100%;
}