html {
  font-size: 12px;

  .verticalWrapper {
    display: flex;
    width: 100%;
  }

  body {

    main.Login,
    main.Register {
      font-size: 1.8rem;
    }

    main.Feed {
      ul {
        li {
          padding: 1em 0.8em;
          font-size: 1.5em;
        }
      }
    }

    main.AddRelease {

      .AddReleaseFiles {
        margin-right: 0.5em;
        width: 50%;
      }
      .AddReleaseInfo {
        margin-left: 0.5em;
        width: 50%;
      }
    }
  }
}