html {
  font-size: 12px;

  body {

    main.Login,
    main.Register {
      font-size: 1.8rem;
    }

    main.Feed {
      ul {
        li {
          padding: 1em 0.8em;
          font-size: 1.5em;
        }
      }
    }
  }
}