@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

$main-color: rgb(230, 230, 230);
$main-color-hover: rgb(255, 255, 255);
$accent-color: rgb(230, 32, 32);
$accent-color-hover:  rgb(210, 32, 32);
$main-font: 'Inconsolata', monospace;
$fast-transition: 200ms;

.flex {
  display: flex;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

input,
textarea,
button {
  box-sizing:border-box;
  border: none;
  outline: none;
  font-size: 1em;
  font-family: $main-font;
  resize: none;
}

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button {
  a {
    color: inherit;
  }
}

input,
textarea {
  padding: 0.7em 0.8em;
  margin: 0.4em 0;
}

.hide {
  display: none;
}

.helper {
  margin: 0;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 700;
}

button,
label {
  background: none;
  cursor: pointer;
}

.hideInputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}