@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

$main-color: rgb(214, 214, 214);
$accent-color: rgb(213, 32, 32);
$main-font: 'Inconsolata', monospace;

.verticalWrapper {
  display: flex;
  width: 100%;
}

.flex {
  display: flex;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

input,
textarea {
  box-sizing:border-box;
  border: none;
  outline: none;
  font-family: $main-font;
}

p {
  text-transform: lowercase;
}

.hide {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.hideInputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}