html {
  font-size: 10px;

  body {
    min-height: 100vh;
    margin: 0;
    padding: 0 1.5rem;
    background: $main-color;
    color: $accent-color;
    font-family: $main-font;
  
    header {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 15vh;
      font-size: 3.4rem;
  
      div {
        display: flex;
        justify-content: space-between;
  
        h1,
        h2 {
          margin: 0;
          text-transform: lowercase;
        }
  
        h1 {
          margin-bottom: -0.08em;
        }
  
        h2 {
          z-index: 20;
          display: none;
        }
      }
  
      .underline {
        margin: 0 0.15em 0 0.5em;
        border-bottom: 0.1em solid $accent-color;
      }

      button {
        position: absolute;
        top: 15.5vh;
        right: 0em;
        padding: 0;
        color: $accent-color;
        font-size: 0.4em;
        font-weight: 700;
        text-transform: lowercase;
        transition: $fast-transition;

        &:hover {
          color: $accent-color-hover;
          text-decoration: underline;
        }
      }
    }
  
    main {
      min-height: 70vh;
      font-size: 2.4rem;
    }
  
    main.Login,
    main.Register {
      @include center-content;
  
      .LoginForm,
      .RegisterForm {
        max-width: 14em;
  
        input,
        button {
          height: 2em;
        }
  
        button {
          @include uppercase;
          padding: 0.5rem;
  
          &:nth-child(1) {
            color: $accent-color;
  
            &:hover {
              text-decoration: underline;
            }
          }
  
          &:nth-child(2) {
            background: $accent-color;
            color: $main-color;
            transition: $fast-transition;

            &:hover {
              background: $accent-color-hover !important;
              color: $main-color-hover;
            }
          }
        }

        p {
          height: 1em;
          margin: 0 0 1.8em 0;
          font-size: 0.6em;
          text-align: center;
        }
      }
    }

    main.Feed {
      min-height: 62vh;
      width: 100%;
      margin: auto;
      padding-top: 8vh;
      font-size: 1.8rem;

      h3 {
        margin: 0 0 1em 0;
        font-size: 1em;
        font-weight: 400;

        a {
          color: $accent-color;
          font-size: 1.6em;
          font-style: italic;
          text-transform: lowercase;
          transition: $fast-transition;

          &:hover {
            color: $accent-color-hover;
          }
        }
      }  
      
      ul {
        margin-bottom: 2em;

        li {
          margin-bottom: 1em;
          padding: 0.9em 0.7em;
          background-color: $accent-color;
          color: $main-color;
        }
      }
    }

    main.Start {
      ul {
        li {
          .ReleaseFeedInfo {
            margin-bottom: 0.2em;
          }

          button {
            @include uppercase;
            margin-right: 1.2em;
            padding: 0;
            color: $main-color;
            font-size: 0.6em;
            text-decoration: underline; 
            transition: $fast-transition;
            
            &:hover {
              color: $main-color-hover;
            }
          }
        }
      }
    }

    main.Feedback {
      p {
        margin: 0;
      }

      .FeedbackInfo {
        font-size: 0.9em;
        font-weight: 700;
      }
      
      ul {
        li {
          display: flex;
          flex-direction: column;

          .FeedbackArtistDate {
            display: flex;
            align-items: center;
            margin-bottom: 0.8em;
            font-size: 0.8em;
            white-space: nowrap;

            p {
              @include uppercase;
              font-size: 1.1em;
              font-weight: 700;
            }

            .LineSeperator {
              margin: 0 0.7em;
              width: 100%;
              border-bottom: 0.1em solid $main-color;
            }  
          }

          .FeedbackContent {
            margin-bottom: 0.4em;
            font-size: 0.7em;
            font-style: italic;
          }

          .FeedbackRating {
            font-size: 0.8em;
            font-weight: 700;
            text-align: right;
          }
        }
      } 

      h3 {
        text-align: center;
      }  
    }

    .ArtworkHolder {
      @include center-content;
      position: relative;
      overflow: hidden;
      height: 24em;
      width: 100%;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        margin-left: -50%;
        margin-top: -50%;
      }
    }

    main.AddRelease,
    main.Release,
    main.UpdateRelease {
        display: flex;
        flex-direction: column;
        max-width: 68em;
        margin: 3.5em auto 3em auto;
        font-size: 1.4rem;
    }

    main.AddRelease,
    main.UpdateRelease {

      .UpdateReleaseFiles {
        @include center-content;
        @include uppercase;
        min-height: 10em;
        width: 100%;
        margin-right: 1.3em;
        background: $dark-accent-color;
        color: $main-color-hover;
        font-weight: 700;
        text-align: center;
      }

      .AddReleaseFiles {
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        background: $dark-accent-color;

        .helper {
          margin-bottom: 0.5em;
          color: $main-color;
          font-size: 0.8em;
          font-weight: 300;
        }

        .ArtworkHolder {
          height: 20em;
          margin-bottom: 1em;
          background:rgb(71, 71, 71);
          color: $main-color;
          text-transform: lowercase;

          .ArtworkFileInput {
            display: flex;
            align-items: center;
            flex-direction: column;

            .ArtworkPlaceholderIcon {
              @include center-content;
              height: 5.5em;
              width: 5.5em;
              border-radius: 50%;
              background: $main-color;
              transition: $fast-transition;

              .CenterHole {
                height: 0.5em;
                width: 0.5em;
                border-radius: 50%;
                background:rgb(71, 71, 71);
              }
            }   

            p {
              font-size: 0.9em;
              transition: $fast-transition;
            }
            &:hover div{
              background: $main-color-hover;
            }
            &:hover p {
              color:$main-color-hover;
            } 
          }

          .ArtworkProcessBar {
            height: 0.5em;
            padding: 1px;
            border: 1px solid $main-color;
    
            .FileProcessed {
              height: 100%;
              background: $main-color;
            }
          }
          
          .InvalidArtwork {
            margin: 0 0 1em 0;
            padding: 0.4em;
            background: $accent-color;
            color: $main-color;
            font-weight: 700;
          }

          .DeleteArtwork {
            @include center-content;
            position: absolute;
            right: 0.5em;
            top: 0.5em;
            z-index: 100;
            height: 1.6em;
            width: 1.6em;
            padding: 0.2em 0.5em;
            border-radius: 50%;  
            background: $main-color;         
            font-weight: 700;
            font-size: 1em;
            transition: $fast-transition;

            &:hover {
              background: $main-color-hover;
            }
          }
        }

        .AddReleaseTracks {

          .AddTrack {
            font-size: 1.6em;

            &:hover {
              color: $main-color-hover;
              text-decoration: underline;
            }
          }

          label {
            height: 2em;
            color: $main-color;
            font-weight: 700;
            text-transform: lowercase;
            transition: $fast-transition;

            p {
              height: 3rem;
              margin: 0;
            }
          }

          .TrackProcessBar {
            height: 1em;
            padding: 1px;
            border: 1px solid $main-color;

            .FileProcessed {
              height: 100%;
              background: $main-color;
            }
          }

          .TrackList {
            min-height: 5em;

            li {
              margin-bottom: 0.3em;
              padding: 0.5em 0.4em;
              background:rgb(71, 71, 71);
              color: $main-color;

              p {
                margin: 0 0 0.4em 0;
                font-size: 0.9em;
                font-weight: 700;
              }

              div {
                display: flex;

                button {
                  @include uppercase;
                  @include center-content;
                  flex-direction: row;
                  margin-right: 0.6em;
                  padding: 0;
                  color: $main-color;
                  font-size: 0.7em;
                  text-decoration: underline;              
                  transition: $fast-transition;
  
                  img {
                    height: 1.2em;
                  }
  
                  &:hover {
                    color: $main-color-hover;
                  }
                  
                  &:last-child {
                    margin-left: 1em;
                  }
                }
              }
            }
          }

        }
      }

      .AddReleaseInfo {
        width: 100%;
        margin-top: 1.4em;
        color: $dark-accent-color;

        .helper {
          margin-bottom: 0.2em;
        }

        .half-width:nth-child(1) {
          margin-right: 0.4rem;
        }
    
        .half-width:nth-child(2) {
          margin-left: 0.4rem;
        }

        input,
        textarea {
          font-size: 1em;
        }

        .EnableRating {
          align-items: center;
    
          p {
            margin: 0 0 0 0.8em;
            text-transform: none;
          }
    
          label {
            display: block;
            height: 1em;
            width: 1em;
            margin-left: 1em;
            border-radius: 50%;
            border: 2px solid $accent-color;
          }
        }

        textarea {
          margin-bottom: -0.4em;
          line-height: 1em;
          font-size: 0.8em;
        }

        .UsedCharacters {
          margin: 0;
          padding: 0.7em 0.8em; 
          background: white;
          font-style: normal;
          font-weight: 700;
          text-align: right;
        }
      }

      .AddReleaseButtons {
        margin: auto;
        margin-top: 1.8em;
        button {
          @include uppercase;
          width: 10em;
          padding: 0.5em;
          font-size: 1.2em;
  
          &:nth-child(1) {
            color: $accent-color;
  
            &:hover {
              text-decoration: underline;
            }
          }
  
          &:nth-child(2) {
            background: $accent-color;
            color: $main-color;
            transition: $fast-transition;

            &:hover {
              background: $accent-color-hover;
              color: $main-color-hover;
            }
          }
        }   
      }
    }
    
    main.NotAvailable{
      @include uppercase;
      @include center-content;
      font-size: 2.5em;
      text-align: center;

      h3 {
        font-weight: 300;
      }
    }

    main.ReleaseLogin {
      @include center-content;
      max-width: 30em;
      margin: auto;
 
      .ReleaseLoginForm {
        width: 100%;
        padding: 1em;
        font-size: 1.8rem;

        h3 {
          margin: 0;
          font-size: 1.8em;
        }

        h4 {
          margin: 0;
          font-size: 1em;
          font-style: italic;
        }

        .ReleaseLoginTopContent {
          margin-bottom: 1.4em;
        }

        .ReleaseLoginInputs {
          display: flex;
          flex-direction: column;
          align-items: center;

          input, 
          button {
            max-width: 12em;
            font-size: 1em;
          }

          input {
            padding: 1em;
          }

          button {
            @include uppercase;
            width: 100%;
            padding: 0.4em;
            background: $accent-color;
            color: $main-color;
            font-weight: 700;
            transition: $fast-transition;

            &:hover {
              background: $accent-color-hover;
              color: $main-color-hover;
            }
          }
        }
        
        .ReleaseLoginBottomContent {
          margin-top: 1.4em;
          text-align: right;
        }
      }
    }

    main.Release {

      .ReleaseFiles {
        font-size: 0.9em;

        .ReleaseFilesHolder { 
          padding: 0.8em;
          padding-bottom: 2em;
          background: $dark-accent-color;
        }

        .Audioplayer {

          .Player {
            display: flex;
            margin-top: 0.8em;

            .PlayerButtons {
              display: flex;

              button {
                @include center-content;
                position: relative;
                height: 3em;
                width: 3em;
                margin: 0.2em;
                border-radius: 50%;
                background: $main-color;
                transition: $fast-transition;

                img {
                  position: absolute;
                  right: 0.6em;
                  top: 0.6em;
                  height: 1.8em;
                  width: 1.8em;
                }

                &:hover {
                  background: $main-color-hover;
                }

                .PlayIcon {
                  right: 0.4em;
                }
                .StopIcon {
                  height: 1em;
                  width: 1em;
                  margin-left: 0.05em;
                  background: $dark-accent-color;
                }
              }
            }

            .PlayerTimeline {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 100%;
              margin-left: 0.7em;
              padding: 0.4em 0;

              .Time {
                color: $main-color;
                font-size: 1em;
                font-weight: 700;               
              }

              .ProcessBar {
                height: 0.8em;
                margin-bottom: 0.2em;
                padding: 1px;
                border: 1px solid $main-color;

                .Processed {
                  height: 100%;
                  background: $main-color-hover;
                }
              }
            }
          }

          ul.Playlist { 
            margin: 1em 0.2em 0.4em 0.2em;

            li {
              padding: 0.5em;
              border-bottom: 1px solid $main-color;
              transition: $fast-transition;

              button {
                width: 100%;
                color: $main-color;
                text-align: left;
              }

              &:hover {
                background: rgb(95, 95, 95);
                font-weight: 700;

                button {
                  color: $main-color-hover;
                }
              }

              &:last-child {
                border: none;
              }
            }

            .trackIsPlaying {
              background: $main-color !important;
              
              button {
                color: black !important;
                font-style: italic;
                font-weight: 700 !important;
              }
            }
          }
        }
      }

      .ReleaseInfoFeedback {
        color: $dark-accent-color;
        text-transform: lowercase;

        .ReleaseInfo {
          margin-top: 1em;

          .ReleaseArtist {
            display: flex;
            align-items: center;
  
            h2 {
              margin: 0;
              margin-top: 0.4em;
              font-size: 2.8em;
              white-space: nowrap;
            }
  
            .LineSeperator {
              width: 100%;
              margin-top: 1.2em;
              margin-left: 0.8em;
              border-bottom: 2px solid $dark-accent-color;
            }
          }       
  
          .ReleaseTitle {
            display: flex;
            align-items: center;
            margin-bottom: 0.6em;
  
            h3 {
              margin: 0;
              font-size: 2em;
              font-style: italic;
              white-space: nowrap;
            }         
            
            .LineSeperator {
              width: 100%;
              margin-top: 0.2em;
              margin-right: 0.8em;
              border-bottom: 2px solid $dark-accent-color;
            }
          }  
  
          p {
            min-height: 12em;  
            margin-bottom: 2em;    
            font-size: 0.9em;
            line-height: 1.4em;
          }
  
          h4 {
            @include uppercase;
            margin: 0;
            margin-bottom: 0.8em;
            font-size: 1.1em;
            font-weight: 700;
          }
        }

        .ReleaseFeedback {
          position: relative;

          input,
          textarea {
            font-size: 1.2em;
          }

          .ReleaseFeedbackBottom {
            display: flex;
            align-items: center;
            font-size: 1.2rem;

            button {
              @include uppercase;
              height: 2.8em;
              width: 10em;
              padding: 0.1em;
              color: white;
              background:$accent-color;
              font-size: 1.4em;
              font-weight: 700;
              transition: $fast-transition;

              &:hover {
                background: $accent-color-hover;
                color: $main-color-hover;
              }
            }

            .Rating {
              @include uppercase;
              display: flex;
              align-items: center;
              width: 100%;
              color: $accent-color;
              font-size: 1.7em;
              font-weight: 700;

              .RatingCircle {
                height: 1rem;
                width: 1rem;
                margin-left: 0.5em;
                border: 2px solid $accent-color;
                border-radius: 50%;
                background: $main-color;
                
                &:hover {
                  background: $accent-color;
                }
              }

              input[type="radio"]:checked+label { 
                background: $accent-color; 
              }
            }
          }

          .ThankYou {
            @include center-content;
            position: absolute;
            flex-direction: column;
            height: 98%;
            width: 100%;
            margin: 0.4em 0 0.8em 0;
            background: rgba(0, 0, 0, 0.8);

            p {
              margin-bottom: 2em;
              color: white;
              font-size: 1.2em;
              font-style: italic;
              font-weight: 700;
              text-transform: lowercase;
            }

            button {
              @include uppercase;
              padding: 1em 1.5em;
              border: 2px solid white;
              color: white;
              font-size: 1.2em;
              font-weight: 700;
              transition: $fast-transition;
            }

            button:hover {
              background: white;
              color: black;
            } 
            
          }
        }
      }
    }
  
    footer {
      height: 15vh;
      display: flex;
      justify-content: flex-end;
      
      p {
        margin-right: 0.2em;
        font-size: 1.5rem;
        font-style: italic;
      }
  
      a {
        color: $accent-color;
        font-style: normal;
        font-weight: 700;
        text-decoration: none;
        transition: $fast-transition;

        &:hover {
          color: $accent-color-hover;
          text-decoration: underline;
        }
      }
    }
  }

  #modal {

    .Modal.close {
      display: none;
    }

    .Modal.open {
      @include center-content;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.2);

      .ModalContainer {
        @include center-content;
        flex-direction: column;
        height: 20rem;
        width: 30rem;
        background: white;
        color: black;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 700;

        p {
          margin: 0.5em 0;

          span {
            font-style: normal;
            text-transform: none;
          }
        }

        div {
          display: flex;

          button {
            width: 4em;
            margin: 0.8em 0.5em;
            padding: 0.6em 0;
            background: $dark-accent-color;
            color: white;
            font-size: 1.3rem;
            transition: $fast-transition;

            &:hover {
              background: black;
            }
          }
        }
      }

      .ModalContainer.Add {
        width: 30em;
        background: $main-color-hover;
        font-style: normal;

        p {
          margin: 0;
          margin-bottom: 0.5em;
          font-size: 1.4rem;

          span {
            font-weight: 300;
          }
        }

        .LinkPass {
          margin-top: 0.5em;
          padding: 1.4em;
          background: white;
          font-family: 'Helvetica';
          font-weight: 300;
        }

        button {
          @include uppercase;
          width: 6.2em;
          margin-top: 1.5em;
          font-size: 0.9em;
        }
      } 
    }
  }
}