body {
  background: $main-color;
  color: $accent-color;
  font-size: 14px;
  font-family: $main-font;

  header {
    margin: 3rem 0;
    padding: 0 2rem;

    div { 
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      h1,
      h2 {
        text-transform: lowercase;
        margin: 0;
      }
      h1 {
        font-size: 3.2rem;
        margin-bottom: -0.3rem;
      }
      h2 {
        @include center-content;
        height: 1em;
        padding: 0 0.5em;
        background-color: $accent-color;
        color: $main-color;
        font-size: 2.3rem;
        font-weight: 700;
      }
    }
    .underline {
      margin-left: 0.8rem;
      border: 0.1rem solid $accent-color;
    }
  }
 
 
main.Home {
  width: 60%;
  font-size: 2rem;
  margin: auto;

  a {
    display: block;
    margin-bottom: 2rem;
    text-transform: lowercase;
    color: $accent-color;
  }
  /* Release feed styling */
  .ReleasesFeed {  
    padding: 0;
    margin: 0;
    li {
      padding: 1.5rem 2rem;
      color: $main-color;
      background-color: $accent-color;
      list-style: none;
      a {
        display: inline;
        margin-right: 1em;
        font-size: 1rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $main-color;
      }
    }
  } /* End tag for Release feed styling */
}

main.Feedback {
    width: 60%;
    font-size: 2rem;
    margin: auto;
  
    a {
      display: block;
      margin-bottom: 2rem;
      text-transform: lowercase;
      font-style: italic;
      text-align: center;
      color: $accent-color;
    }
    p {
        text-align: center;
        font-size: 0.8em;
        font-weight: 700;
    }
    ul {  
        padding: 0;
        margin: 0;

      li {
        font-size: 1rem;
        
        padding: 1.5rem 2rem;
        color: $main-color;
        background-color: $accent-color;
        list-style: none;
        margin-bottom: 1rem;

        .top {
          display: flex;
          align-items: center;
          white-space: nowrap;

          p {
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            margin: 0;
          }

          .LineSeperator {
            border-bottom: 2px solid $main-color;
            margin: 0 1rem;
            width: 100%
          }           
        }
        a {
        //   display: inline;
        //   margin-right: 1em;
        //   font-size: 1rem;
        //   letter-spacing: 0.1em;
        //   text-transform: uppercase;
        //   color: $main-color;
        }
      }
    } /* End tag for Release feed styling */
  }

main.AddRelease {
  width: 80%;
  margin: auto;
  padding: 2em;
  font-size: 1rem;

  .AddReleaseFiles {
    width: 50%;
    margin-right: 0.5em;

    .ArtworkHolder {
      @include center-content;
      margin-top: 0.4em;
      width: 100%;
      height: 300px;
      background:rgb(71, 71, 71);

      .ArtworkFileInput {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ArtworkPlaceholderIcon {
          @include center-content;
          height: 5em;
          width: 5em;
          background: $main-color;
          border-radius: 50%;
          transition: $fast-transition;
  
          .CenterHole {
            height: 0.5em;
            width: 0.5em;
            background:rgb(71, 71, 71);
            border-radius: 50%;
          }
        }

        p {
          color: $main-color;
          font-size: 0.8rem;
          transition: $fast-transition;
        }
        &:hover div{
          background: white;
        }
        &:hover p {
          color: white;
        }
      }
      .ArtworkProcessBar {
        height: 0.5em;
        border: 1px solid $main-color;

        .FileProcessed {
          height: 100%;
          background: $main-color;
        }
      }
      .ToSmallImage {
        margin: 0 0 1em 0;
        padding: 0.4em;
        background: $accent-color;
        color: $main-color;
        font-weight: 700;
      }

      .DeleteArtwork {
        height: 1.8em;
        width: 1.8em;
        background: $main-color;
        z-index: 100;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        font-size: 1em;
        transition: $fast-transition;
        &:hover {
          background: white;
        }
      }
    }
  }

  .AddReleaseInfo {
    width: 50%;
    margin-left: 0.5rem;

    input,
    textarea {
      padding: 0.7em 0.8em;
      margin: 0.4em 0;
      font-size: 1rem;
      resize: none;
    }

    .half-width:nth-child(1) {
      margin-right: 0.4rem;
    }

    .half-width:nth-child(2) {
      margin-left: 0.4rem;
    }

    .EnableRating {
      align-items: center;

      p {
        margin-left: 0.8em;
        font-size: 1rem;
        text-transform: none;
      }

      label {
        display: block;
        height: 1rem;
        width: 1rem;
        margin-left: 1rem;
        border-radius: 50%;
        border: 2px solid $accent-color;
      }
    }

    textarea {
      margin-bottom: -0.2em;
      font-size: 0.8em;
      line-height: 1em;
    }

    .UsedCharacters {
      padding: 0.7em 0.8em; 
      margin: 0;
      background: white;
      text-align: right;
      font-style: normal;
      font-weight: 700;
    }

  }
}

}
