html {
  font-size: 10px;

  body {
    margin: 0;
    padding: 0 1.5rem;
    background: $main-color;
    color: $accent-color;
    font-family: $main-font;
  
    header {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 15vh;
      font-size: 2rem;
  
      div {
        display: flex;
        justify-content: center;
  
        h1,
        h2 {
          display: none;
          margin: 0;
          text-transform: lowercase;
        }
  
        h1 {
          font-size: 2em;
          margin-bottom: -0.48em;
        }
  
        h2 {
          display: none;
        }
      }
  
      .underline {
        margin: 0.8em 0 0.6em 0;
        border-bottom: 0.1em solid $accent-color;
      }
    }
  
    main {
      min-height: 65vh;
    }
  
    main.Login,
    main.Register {
      @include center-content;
      font-size: 2.2rem;
  
      .LoginForm,
      .RegisterForm {
        max-width: 14em;
  
        input,
        button {
          font-size: 1em;
          height: 2em;
        }
  
        p {
          margin: 0 0 1.8em 0;
          font-size: 0.6em;
          text-align: center;
        }
  
        button {
          @include uppercase;
          padding: 0.5rem;
  
          &:nth-child(1) {
            color: $accent-color;
  
            &:hover {
              text-decoration: underline;
            }
          }
  
          &:nth-child(2) {
            background: $accent-color;
            color: $main-color;
          }
        }
      }
    }

    main.Feed {
      margin: auto;
      max-width: 40em;
      padding-top: 1.8em;
      font-size: 1.5rem;

      h3 {
        margin: 0 0 1em 0;
        font-weight: 400;
        a {
          color: $accent-color;
          font-size: 1.8em;
          font-style: italic;
          text-transform: lowercase;
        }
      }

      ul {
        li {
          padding: 0.9em 0.6em;
          margin-bottom: 1em;
          background-color: $accent-color;
          color: $main-color;
          font-size: 1.3em;

          .ReleaseFeedInfo {
            margin-bottom: 0.2em;
          }

          button {
            @include uppercase;
            margin-right: 1.2em;
            padding: 0;
            color: $main-color;
            font-size: 0.6em;
            text-decoration: underline;
          }
        }
      }
    }

    main.Feedback {
      .FeedbackInfo {
        margin: 2rem 0 3rem 0;
        text-align: center;

        p {
          margin: 0;
          font-size: 1.2em;
          font-weight: 700;
        }
      }

      ul {
        li {
          display: flex;
          flex-direction: column;

          p {
            margin: 0;
            font-size: 0.7em;
          }

          .FeedbackArtistDate {
            display: flex;
            align-items: center;
            margin-bottom: 0.8em;
            font-size: 0.8em;
            white-space: nowrap;

            p {
              @include uppercase;
              font-size: 1.1em;
              font-weight: 700;
            }

            .LineSeperator {
              border-bottom: 0.1em solid $main-color;
              margin: 0 0.7em;
              width: 100%
            }  
          }
          
          .FeedbackContent {
            margin-bottom: 0.8em;
            font-size: 0.7em;
          }

          .FeedbackRating {
            font-weight: 700;
            text-align: right;
          }
        }
      }    
    }
    
    main.AddRelease {
      max-width: 90rem;
      margin: auto;
      padding-top: 1.4em;
      font-size: 1.4rem;

      .AddReleaseFiles {
        width: 100%;

        .helper {
          margin-bottom: -0.1em;
        }

        .ArtworkHolder {
          @include center-content;
          margin-top: 0.7em;
          height: 20em;
          width: 100%;
          background:rgb(71, 71, 71);

          img {
            margin-top: -10%; 
          }

          .ArtworkFileInput {
            display: flex;
            flex-direction: column;
            align-items: center;

            .ArtworkPlaceholderIcon {
              @include center-content;
              height: 5em;
              width: 5em;
              background: $main-color;
              border-radius: 50%;
              transition: $fast-transition;

              .CenterHole {
                height: 0.5em;
                width: 0.5em;
                background:rgb(71, 71, 71);
                border-radius: 50%;
              }
            }   

            p {
              color: $main-color;
              font-size: 0.8rem;
              transition: $fast-transition;
            }
            &:hover div{
              background: white;
            }
            &:hover p {
              color: white;
            } 
          }

          .ArtworkProcessBar {
            height: 0.5em;
            border: 1px solid $main-color;
    
            .FileProcessed {
              height: 100%;
              background: $main-color;
            }
          }
          
          .InvalidArtwork {
            margin: 0 0 1em 0;
            padding: 0.4em;
            background: $accent-color;
            color: $main-color;
            font-weight: 700;
          }

          .DeleteArtwork {
            padding: 0.2em 0.5em;
            background: $main-color;
            z-index: 100;
            position: absolute;
            right: 0.5em;
            top: 0.5em;
            font-weight: 700;
            font-size: 1em;
            transition: $fast-transition;
            &:hover {
              background: white;
            }
          }
        }

        
      }

      

      .AddReleaseInfo {
        width: 100%;

        .helper {
          margin-bottom: 0.2em;
        }

        .half-width:nth-child(1) {
          margin-right: 0.4rem;
        }
    
        .half-width:nth-child(2) {
          margin-left: 0.4rem;
        }

        input,
        textarea {
          font-size: 1em;
        }

        .EnableRating {
          align-items: center;
    
          p {
            margin: 0;
            margin-left: 0.8em;
            font-size: rem;
            text-transform: none;
          }
    
          label {
            display: block;
            height: 1em;
            width: 1em;
            margin-left: 1em;
            border-radius: 50%;
            border: 2px solid $accent-color;
          }
        }

        textarea {
          margin-bottom: -0.4em;
          font-size: 0.8em;
          line-height: 1em;
        }

        .UsedCharacters {
          padding: 0.7em 0.8em; 
          margin: 0;
          background: white;
          text-align: right;
          font-style: normal;
          font-weight: 700;
        }
      }

      .AddReleaseButtons {
        margin: auto;
        margin-top: 1.6em;
        max-width: 10em;
        font-size: 2rem;
        button {
          @include uppercase;
          font-size: 1em;
          padding: 0.5em;
  
          &:nth-child(1) {
            color: $accent-color;
  
            &:hover {
              text-decoration: underline;
            }
          }
  
          &:nth-child(2) {
            background: $accent-color;
            color: $main-color;
          }
        }   
      }
    }

    main.ReleaseLogin {
      @include center-content;
      max-width: 35em;
      margin: auto;
 
      .ReleaseLoginForm {
        width: 100%;
        padding: 1em;
        font-size: 1.8rem;

        h3 {
          margin: 0;
          font-size: 1.8em;
        }

        h4 {
          margin: 0;
          font-size: 1em;
          font-style: italic;
        }

        .ReleaseLoginTopContent {
          margin-bottom: 1.4em;
        }

        .ReleaseLoginInputs {
          display: flex;
          flex-direction: column;
          align-items: center;
          
          input, 
          button {
            max-width: 12em;
            font-size: 1em;
          }

          input {
            padding: 1em;
          }

          button {
            width: 100%;
            @include uppercase;
            padding: 0.4em;
            background: $accent-color;
            color: $main-color;
            font-weight: 700;
          }
        }
        
        .ReleaseLoginBottomContent {
          margin-top: 1.4em;
          text-align: right;
        }
      }
    }

    main.Release {  
      font-size: 1.4rem;

      .ReleaseFiles {
        padding: 1.5em;
        background: white;

        .ArtworkHolder {
          @include center-content;
          margin-top: 0.7em;
          height: 20em;
          width: 100%;
          position: relative;
          overflow: hidden;
          background:rgb(71, 71, 71);

          img {
            width: 100%;
            position: absolute;
            margin-top: -10%; 
          }
        }

        .Audioplayer {
          padding: 1em;
          background-color: white;
          font-size: 1.5rem;

          .Player {
            display: flex;

            .PlayerButtons {
              display: flex;

              button {
                @include center-content;
                position: relative;
                margin-right: 1em;
                width: 3.5em;
                height: 3.5em;
                background:black;
                border-radius: 50%;

                img {
                  position: absolute;
                  height: 1.8em;
                  width: 1.8em;                 
                }

                .PlayIcon {
                  left: 1em;
                }

                .StopIcon {
                  margin-left: 0.05em;
                  height: 1em;
                  width: 1em;
                  background: white
                }
              }
            }

            .PlayerTimeline {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 0.2em 0;
              width: 100%;

              .Time {
                color: black;
                font-size: 0.8em;
                font-weight: 700;
              }

              .ProcessBar {
                height: 0.8em;
                border: 1px solid black;

                .Processed {
                  height: 100%;
                  background: black;
                }
              }
            }
          }

          .Playlist {
            padding: 0;
            li {
              padding: 0.5rem 0;
              transition: $fast-transition;
              &:hover {
                background:#e3e3e3;
              }

              button {
                font-size: 0.8em;
              }
            }

            .trackIsPlaying {
              background: black;
              
              button {
                color: white;
                font-weight: 700;
              }
            }
          }
        }
      }

      .ReleaseInfo {
        text-transform: lowercase;

        h2 {
          margin: 0;
          margin-top: 0.4em;
          font-size: 3em;
        }

        h3 {
          margin: 0;
          margin-bottom: 0.6em;
          font-size: 2em;
          font-style: italic;
        }

        h4 {
          margin: 0;
          font-size: 1.2em;
          font-weight: 700;
        }

        p {
          line-height: 1.4em;
          margin-bottom: 2em;
          min-height: 12em;
        }
      }

      .ReleaseFeedback {
        position: relative;

        .ThankYou {
          display: flex;
          flex-direction: column;
          @include center-content;
          height: 98%;
          width: 100%;
          margin: 0.4em 0 0.8em 0;
          position: absolute;
          background: rgba(0, 0, 0, 0.8);

          p {
            margin-bottom: 2em;
            color: white;
            text-transform: lowercase;
            font-size: 1.2em;
            font-style: italic;
            font-weight: 700;
          }

          button {
            @include uppercase;
            padding: 1em 1.5em;
            color: white;
            font-size: 1.2em;
            font-weight: 700;
            border: 2px solid white;
            transition: $fast-transition;
          }

          button:hover {
            background: white;
            color: black;
          } 
          
        }
        input,
        textarea {
          font-size: 1.2em;
        }

        .ReleaseFeedbackBottom {
          display: flex;
          align-items: center;
          font-size: 1.2rem;

          button {
            @include uppercase;
            height: 2.5em;
            width: 100%;
            padding: 0.1em;
            color: white;
            background:$accent-color;
            font-size: 1em;
            font-weight: 700;
          }
  
          .Rating {
            display: flex;
            align-items: center;
            margin-left: 0.8em;
            font-size: 1em;
            font-weight: 700;
  
            .RatingCircle {
              margin-left: 0.5em;
              height: 1rem;
              width: 1rem;
              border: 2px solid $accent-color;
              background: $main-color;
              border-radius: 50%;
              
              &:hover {
                background: $accent-color;
              }
            }
    
            input[type="radio"]:not(:checked) +label { 
              background: $main-color;
            }
            input[type="radio"]:checked+label { 
              background: $accent-color; 
            }
    
          }
        }
      }
    }
  
    footer {
      display: none;
      // display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 20vh;
      
      p {
        font-size: 1.5rem;
        font-style: italic;
      }
  
      a {
        color: $accent-color;
        text-decoration: none;
        font-style: normal;
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}