html {
  font-size: 16px;

  body {

    main.AddRelease {

      .AddReleaseFiles {

        .ArtworkHolder {
          height: 20em;

          img {
            margin-top: -15%;
          }
        }
      }
    }
  }
}