html {
  font-size: 16px;

  body {

    header {
      height: 14vh;
      font-size: 2em;
  
      div {
        position: relative;

        h2 {
          @include center-content;
          position: absolute;
          right: 0;
          bottom: -0.06em;
          padding: 0.02em 0.5em;
          background: $accent-color;
          color: $main-color;
          font-size: 1.5em;
          font-style: italic;
        }
      }

      button {
        top: 14.5vh;
        font-size: 0.5em;
      }
    } /* Header end tag */

    main {
      min-height: 71vh;
      font-size: 2rem;
    }

    main.Feed {
      font-size: 2rem;
    }
  }
}